<!DOCTYPE html>
<html>

<head>
  <base href="/">
  <title>MyTrader</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="">
  <script type="text/javascript" src="../public/js/qwebchannel.js"></script>
  <script type="text/javascript" src="../public/js/highstock/highstock.js"></script>
  <script type="text/javascript" src="../public/js/highstock/themes/grid-light.js"></script>
  <script>
    new QWebChannel(qt.webChannelTransport, function(channel) {
      window.kiwoom = channel.objects.kiwoom; //kiwoom API 로드
      window.recordDB = channel.objects.record; //record API 로드
      window.account = channel.objects.account; //account API 로드
    })
  </script>
</head>

<body>
  <carpediem>Loding...</carpediem>
</body>

</html>