<div class="history">
    <div class="buttons">
        <button (click)="openModal()" class="btn btn-default" style="font-weight:bold">New</button>
    </div>
    <table class="table table-condensed table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th style='width:6%'>#</th>
                <th style='width:10%'>Date</th>
                <th style='width:14%'>Product</th>
                <th style='width:4%'>No</th>
                <th style='width:8%'>Position</th>
                <th style='width:6%'>Comm</th>
                <th style='width:10%'>Time Frame</th>
                <th style='width:12%'>Duration</th>
                <th style='width:10%'>Tick diff</th>
                <th style='width:10%'>Point</th>
                <th style='width:9%'>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of historyList" (click)="getStatement(row.index)">
                <td style='width:6%'>{{row.index}}</td>
                <td style='width:10%'>{{row.date_in}}</td>
                <td style='width:14%'>{{row.product}}</td>
                <td style='width:4%'>{{row.contracts}}</td>
                <td style='width:10%' [style.color]="row.position=='Long'? 'purple': 'green'">{{row.position}}</td>
                <td style='width:4%'>{{row.commission}}</td>
                <td style='width:10%'>{{row.time_frame}}</td>
                <td style='width:12%'>{{row.duration}}</td>
                <td style='width:10%' [style.color]="row.tick_diff > 0 ? 'blue': 'red'">{{row.tick_diff}}</td>
                <td style='width:10%' [style.color]="row.profit > 0 ? 'blue': 'red'" class="dollar">{{row.profit}}</td>
                <td style='width:9%'>{{row.result}}</td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="modalOn" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button (click)="reset()" class="close">&times;</button>
                    <h4 class="modal-title">Trade Statement</h4>
                </div>
                <div class="modal-body">
                    <form (keyup)="deleteKorean($event)">
                        <fieldset class="form-group col-sm-4">
                            <label for="date_in">Entering Date</label>
                            <input class="form-control" type="datetime-local" [(ngModel)]="statement.date_in" name="date_in" [readonly]="isReadOnly" required>
                        </fieldset>

                        <fieldset class="form-group col-sm-3">
                            <label for="product">Product</label>
                            <select class="form-control" [(ngModel)]="statement.product" name="product" [disabled]="isReadOnly" required>
                                <option *ngFor="let p of products" [value]="p">{{p}}</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group col-sm-2">
                            <label for="contracts">Contracts</label>
                           
                            <input class="form-control" type="number" min="1" [(ngModel)]="statement.contracts" name="contracts" [readonly]="isReadOnly">
                            
                        </fieldset>
                        <fieldset class="form-group col-sm-3">
                            <label for="position">Position</label>
                            <select class="form-control" [(ngModel)]="statement.position" name="position" [disabled]="isReadOnly" required>
                              <option *ngFor="let p of positions" [value]="p">{{p}}</option>
                            </select>
                        </fieldset>

                        <fieldset class="form-group col-sm-2">
                            <label for="weather">Commission</label>
                            <input class="form-control" type="number" min="0" [(ngModel)]="statement.commission" name="comission" [readonly]="isReadOnly">
                        </fieldset>
                        <fieldset class="form-group col-sm-2">
                            <label for="comment">Order Type</label>
                            <select class="form-control" [(ngModel)]="statement.orderType" name="orderType" [disabled]="isReadOnly">
                              <option *ngFor="let p of orderType" [value]="p">{{p}}</option>
                            </select>
                        </fieldset>
                        <fieldset class="form-group col-sm-3">
                            <label for="weather">Weather</label>
                            <input class="form-control" type="text" [(ngModel)]="statement.weather" name="weather" [readonly]="isReadOnly">
                        </fieldset>
                        <fieldset class="form-group col-sm-5">
                            <label for="feeling">Emotion</label>
                            <input class="form-control" type="text" [(ngModel)]="statement.emotion" name="emotion" [readonly]="isReadOnly">
                        </fieldset>


                        <fieldset class="form-group col-sm-4">
                            <label for="date_out">Clear Date</label>
                            <input class="form-control" type="datetime-local" [(ngModel)]="statement.date_out" name="date_out" [readonly]="isReadOnly">
                        </fieldset>
                        <fieldset class="form-group col-sm-2">
                            <label for="tick_diff">Tick diff</label>
                            <input class="form-control" type="number" [(ngModel)]="statement.tick_diff" name="tick_diff" [readonly]="isReadOnly">
                        </fieldset>
                        <fieldset class="form-group col-sm-3">
                            <label for="result">Profit</label>
                            <input class="form-control" type="number" [(ngModel)]="statement.profit" name="profit" [readonly]="isReadOnly">
                        </fieldset>
                        <fieldset class="form-group col-sm-3">
                            <label for="isPlanned">Clear type</label>
                            <select class="form-control" [(ngModel)]="statement.isPlanned" name="isPlanned" [disabled]="isReadOnly">
                              <option value="true">Planned</option>
                              <option value="false">Not Planned</option>
                            </select>
                        </fieldset>

                        <fieldset class="form-group col-sm-12">
                            <label for="image">Images</label>
                            <input type="file" accept="image/*" (change)="addImage($event.target.files)" multiple>
                        </fieldset>

                        <fieldset class="form-group col-sm-12">
                            <label for="reason_in">Reason to Buy</label>
                            <textarea class="form-control" rows="8" [(ngModel)]="statement.reason_in" name="reason_in" [readonly]="isReadOnly"></textarea>
                        </fieldset>
                        <fieldset class="form-group col-sm-12">
                            <label for="plan">Plan</label>
                            <textarea class="form-control" rows="4" [(ngModel)]="statement.plan" name="plan" [readonly]="isReadOnly"></textarea>
                        </fieldset>
                        <fieldset class="form-group col-sm-12">
                            <label for="reason_out">Reason to Sell</label>
                            <textarea class="form-control" rows="4" [(ngModel)]="statement.reason_out" name="reason_out" [readonly]="isReadOnly"></textarea>
                        </fieldset>
                        <fieldset class="form-group col-sm-12">
                            <label for="discussion">Discussion</label>
                            <textarea class="form-control" rows="4" [(ngModel)]="statement.discussion" name="discussion" [readonly]="isReadOnly"></textarea>
                        </fieldset>
                        <button *ngIf="!isReadOnly" type="button" class="submit btn btn-primary" (click)=onSubmit()>Submit</button>
                        <button *ngIf="isReadOnly" style="margin-left:330px" type="button" class="btn btn-primary" (click)=modify()>Modify</button>
                        <button *ngIf="isReadOnly" style="margin-left:10px;" type="button" class="btn btn-primary" (click)=delete()>Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>