.modal {
    display:block;
    overflow-y: auto;
}
.modal-dialog {
    width: 850px;
}
.modal-body {
}

.submit {
    margin: 0 auto;
    display:block;
}

table * {
    text-align: center;
    cursor: default;
}

form * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;          
}

.buttons {
    margin-bottom: 10px;
    float: right;
    font-weight: bold;
}

input[readonly], textarea[readonly], select[disabled]
{
    background-color:#F5F4EB;
    color: black;
}

//.dollar:before {
    content: '$';
}