<div class="overview-view row">
    <div class="first-row">
        <div class="timeframe">
            <button class="btn btn-default btn-xs" type="button" (click)="timeFrame('tick', 1)">T</button>
            <button class="btn btn-default btn-xs" type="button" (click)="timeFrame('day', 1)">D</button>
            <button class="btn btn-default btn-xs" type="button" (click)="timeFrame('week', 1)">W</button>
            <button class="btn btn-default btn-xs" type="button" (click)="timeFrame('month', 1)">M</button>
        </div>
        <div #equityDiv></div>
    </div>
    <div class="second-row">
        <div class="timeframe-comp">
            <button class="btn btn-default btn-xs" type="button" (click)="timeFrame('day', 2)">D</button>
            <button class="btn btn-default btn-xs" type="button" (click)="timeFrame('week', 2)">W</button>
            <button class="btn btn-default btn-xs" type="button" (click)="timeFrame('month', 2)">M</button>
        </div>
        <div class="compDiv" #compDiv></div>
        <div class="freqDiv" #freqDiv></div>
    </div>
</div>