
<div class="overview-view row">
    <div class="temp">
        <a href="onenote:https://d.docs.live.net/7ad43d49bf921232/문서/yosep의%20전자%20필기장/MyTrader.one#매매분석&section-id={3ADD4AFD-5F22-442E-8F48-E55F94588BB0}&page-id={467B4F34-52BE-4A8A-8764-B4E19C9A6E36}&object-id={F3E9651D-155B-057F-2897-CBE99C20A432}&12">test</a>
        <button type="button" (click)="test()">test</button>
         <button type="button" (click)="drawChart()">chart</button>
    </div>
    <div #chartDiv style="width:800px;height:400px;"></div>
</div>
