<div class="trading-view row">
    <div class="row">
        <div class="connect">
            <span class="connect-indicator" [class.loggedin]="isConnected === true"></span>
            <button type="button" class="btn btn-default" (click)="connect()">{{ isConnected? 'Logout' : 'Login'}}</button>
            <button type="button" class="btn btn-default" (click)="test()">test</button>
        </div>
    </div>
    <!-- 관심종목 화면 -->
    <div class="inform row">
        <div class="products-list col-md-7">
            <ul class="nav nav-tabs products">
                <li [class.active]="type==selectedType" *ngFor="let type of typeList" (click)="selectType(type)">
                    <a>{{type}}</a>
                </li>
                <li>
                    <a></a>
                    <li>
            </ul>
            <div class="products-container">
                <table class="table table-condensed table-bordered table-hover">
                    <thead>
                        <tr>
                            <th style='width:6%'>S</th>
                            <th style='width:32%'>Product</th>
                            <th style='width:14%'>Months</th>
                            <th style='width:16%'>Price</th>
                            <th style='width:16%'>Price diff</th>
                            <th style='width:16%'>Volumn</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of curProducts">
                            <td class="fav-mark" (click)="addToFav(product)" style='width:6%'>
                                S
                            </td>
                            <td (click)="selectProduct(product)" style='width:32%'>{{product[1]}}</td>
                            <td (click)="selectMonth(product)" style='width:14%'>{{product[2]}}</td>
                            <td style='width:16%'>{{product[3]}}</td>
                            <td style='width:16%'>{{product[4]}}</td>
                            <td style='width:16%; text-align:right; padding-right:10px;'>{{product[5]}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--종목정보 화면 -->
        <div class="p-info col-md-5">
            <table class="table table-condensed table-bordered">
                <tr>
                    <th>기초상품</th>
                    <td style='font-size:13px;padding:0px;'>{{productInfo? selectedProduct.name : ''}}</td>
                    <th>거래소</th>
                    <td>{{productInfo? productInfo.market : ''}}</td>
                </tr>
                <tr>
                    <th>기준통화</th>
                    <td>{{productInfo? productInfo.currency : ''}}</td>
                    <th>위탁증거금</th>
                    <td>{{productInfo? productInfo.margin : ''}}</td>
                </tr>
                <tr>
                    <th>최종거래일</th>
                    <td>{{productInfo? productInfo.expirate : ''}}</td>
                    <th>영업일자</th>
                    <td>{{productInfo? productInfo.openDate : ''}}</td>
                </tr>
                <tr>
                    <th>틱가치</th>
                    <td>{{productInfo? productInfo.tickValue : ''}}</td>
                    <th>잔존만기</th>
                    <td>{{productInfo? productInfo.remained : ''}}</td>
                </tr>
                <tr>
                    <th>장시작시간</th>
                    <td>{{productInfo? productInfo.openTime : ''}}</td>
                    <th>장마감시간</th>
                    <td>{{productInfo? productInfo.closeTime : ''}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="second row">
        <!-- 차트화면 -->
        <div class="chart col-md-7">
            <my-chart *ngIf="selectedProduct" [product]="selectedProduct"></my-chart>
        </div>
        <!-- 호가정보 화면 -->
        <div class="hoga col-md-5">
            <p> test </p>
        </div>
    </div>
    <div *ngIf="isModalOn" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button (click)="modalClose()" class="close">&times;</button>
                    <h4 class="modal-title">{{modalTitle}}</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed table-bordered table-hover">
                        <thead>
                            <tr>
                                <th style='width:6%'>S</th>
                                <th style='width:24%'>Code</th>
                                <th style='width:24%'>Months</th>
                                <th style='width:24%'>Price</th>
                                <th style='width:24%'>Volumn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of modalProducts">
                                <td class="fav-mark" (click)="addToFav(product)" style='width:6%;cursor:pointer;'>
                                    S
                                </td>
                                <td (click)="selectProduct(product)" style='width:24%'>{{product[0]}}</td>
                                <td style='width:24%'>{{product[2]}}</td>
                                <td style='width:24%'>{{product[3]}}</td>
                                <td style='width:24%; text-align:right; padding-right:15px;'>{{product[5]}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>